
* {
    margin: 0px;
    padding: 0px;
}

body, html {
    width: 100%;
    height: 100%;
}

.background {
    width: 100%;
    height: 100%;
    background-image: url("../res/background.jpg");
    filter: blur(15px);
    -webkit-filter: blur(15px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.overlay {
    width: 100%;
    height: 100%;

    position: absolute;
    transform: translate(0, -100%);

    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.85); /* Black w/opacity/see-through */
}

.contents {
    width: 100%;
    height: 100%;

    margin: 0 auto; /* wrap class를 화면에서 가운데 정렬하기 위한 코드 */

    position: absolute;
    transform: translate(0, -100%);

    color: white;
}

nav {
    display: flex;
    align-items: flex-end;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom: 1px solid white;
}

.nav-left {
    display: flex;
}

.nav-right {
    display: flex;
    margin-left: auto;
}

.nav-item {
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro {
    background-color: white;
    border: 1px solid white;
    border-radius: 25%;
    box-shadow:  2px 2px 10px gray;
    
}

footer {
    height: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-top: 1px solid white;
}

.copyright {
    margin-left: 10px;
    margin-top: 10px;
}

/*

.nav {
    height: 48px;
    
    display: flex;
    align-items: flex-end;
    
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    
    border-bottom: 1px solid white;

    position: relative;
    animation:  moveFromTop 3s;
}

.nav-left-items {
    display: flex;
}

.nav-left-item {
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
}

#home {
    font-weight: bold;
}

.nav-right-items{
    display: flex;
    margin-left: auto;
}

.nav-right-item {
    margin-left: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
}



.main {
    height: 672px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-logo {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    position: relative;
    animation: logo 3s;
}

.intro-name {
    font-weight: bold;
    font-size: 50px;
}

.intro-desp {
    font-size: 16px;
}



.main-items {
    display: flex;

    align-items: center;
}

.main-items-item {
    background-color: white;
    border: 1px solid white;
    border-radius: 25%;
    box-shadow:  2px 2px 10px gray;
    
    margin-top: 40px;
    margin-left: 15px;
    margin-right: 15px;
    
    display: flex;
    align-items: center;
    align-content: center;

    width: 150px;
    height: 150px;

    position: relative;
    animation: items 3s;
}

.main-items-item-cs {
    background-color: white;
    border: 1px solid white;
    border-radius: 25%;
    box-shadow:  2px 2px 10px gray;
    
    margin-top: 40px;
    margin-left: 15px;
    margin-right: 15px;
    
    display: flex;
    align-items: center;
    align-content: center;

    width: 100px;
    height: 100px;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gray;
    font-size: 9px;
    justify-content: center;

    position: relative;
    animation: items-cs 3s;
}


img {
    width: 150px;
    height: 150px;
    border-radius: 25%;

    position: relative;
    animation: items 3s;
}



.info {
    border-top: 1px solid white;
    
    height: 48px;
    display: flex;

    align-items: center;
    color: white;

    position: relative;
    animation: moveFromBottom 3s;
}

.info-cc {
    margin-left: 10px;
    line-height: 15px;
}

.info-fam {
    margin-right: 10px;
    display: flex;
    margin-left: auto;
}

@keyframes moveFromTop {
    0% { 
        color: rgba(0, 0, 0, 0);
        border-color: rgba(0, 0, 0, 0);
    }

    78% {
        top: -30px;
        color: rgba(0, 0, 0, 0);
        border-color: rgba(0, 0, 0, 0);
    }

    100% { top: 0px; }
}

@keyframes moveFromBottom {
    0% { 
        color: rgba(0, 0, 0, 0);
        border-color: rgba(0, 0, 0, 0);
    }

    78% {
        bottom: -30px;
        color: rgba(0, 0, 0, 0);
        border-color: rgba(0, 0, 0, 0);
    }

    100% { bottom: 0px; }
}

@keyframes logo {
    0% {
        bottom: -25px;
        font-size: 1px;
        color: rgba(0, 0, 0, 0);
    }

    100% {
        bottom: 0px;
        font-size: 50px;
    }
}

@keyframes items {
    0% {
        top: -30px;
        width: 0px;
        height: 0px;
    }

    78% {
        top: 0px;
        width: 0px;
        height: 0px;
    }
    
    100% {
       width: 150px;
       height: 150px; 
    }
}

@keyframes items-cs {
    0% {
        font-size: 0px;
        top: -30px;
        width: 0px;
        height: 0px;
    }

    78% {
        font-size: 0px;
        top: 0px;
        width: 0px;
        height: 0px;
    }
    
    100% {
        font-size: 9px;
        width: 100px;
        height: 100px; 
    }
}
*/