/* 기기의 화면 크기가 0~540px일 때 아래 실행문의 코드가 적용 */
/* 랩탑, 데스크탑 */
@media only screen and (max-device-width: 540px) {
    nav {
        height: 150px;
    
        display: flex;
        align-items: flex-end;
    
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 45px;
    
        border-bottom: 1px solid white;
    }

    .copyright {
        text-align: center;
    }
}