/* 기기의 화면 크기가 0~540px일 때 아래 실행문의 코드가 적용 */
/* 모바일 */
/* max-width -> max-device-width 로 바꿔서 배포해야 함 */
@media only screen and (max-device-width: 768px) {
    .background {
        height: 5400px;
    }
    
    .overlay {
        height: 5400px;
    }

    .contents {
        height: 5400px;
    }

    nav, footer {
        height: 120px;
        font-size: 35px;
    }

    .nav-left {
        margin-left: 30px;
    }

    .nav-item {
        margin-right: 30px;
        margin-bottom: 30px;
    }

    .section1, .section2, .section3, .section4 {
        width: 100%;
        height: 1300px;
    }


    .intro {
        font-size: 55px;
        margin-bottom: 50px;
    }

    .logo {
        font-size: 125px;
    }


    .app-box {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-bottom: 80px;
    }

    .app-icon {
        width: 400px;
        height: 400px;
    }

    .app-detail {
        width: 100%;

        margin-left: 0px;
        margin-top: 70px;
    }

    .app-subname {
        margin-bottom: 30px;
        font-size: 50px;
    }

    .app-name {
        font-size: 100px;
    }

    .app-subtitle {
        margin-top: 60px;
        font-size: 40px;
    }

    .ab {
        width: 380px;
        height: 116px;

        border-radius: 18px;
        margin-top: 10px;
    }


    .author-info {
        width: 100%;
    }

    .author-image {
        width: 350px;
        height: 350px;

        margin-bottom: 80px;
    }

    #ai-h3 {
        font-size: 35px;
        line-height: 50px;
    }


    form {
        width: 400px;
    }

    .section4 > div> h1 {
        margin-bottom: 30px;
        line-height: 50px;
    }

    .cu-email, .cu-title {
        height: 30px;
        
        margin-bottom: 15px;
        padding-left: 10px;

        font-size: 14px;
    }

    textarea {
        height: 150px;

        padding-top: 10px;
        padding-left: 10px;
        margin-bottom: 20px;

        font-size: 14px;
    }

    form > h4 {
        text-align: right;

        padding-right: 10px;
    }

    .copyright {
        margin-left: 30px;
        margin-top: 30px;

        font-size: 35px;
    }
}